$adset-orange: #f58634;
$adset-dark: #333;
$adset-light: #F5F5F5;
$adset-green: #4CAF50;
$adset-green-excel: #2f9b2e ;
$adset-red: #F44336;
$adset-gray: #E0E0E0;
$adset-blue: #2196F3;

$text-commom: #838383;
$bg-commom: #838383;