<div class="d-block">
    <div class="
    bg-commom 
    d-flex 
    flex-row 
    gap-4 
    align-items-center 
    justify-content-start
    px-4
    py-3
    flex-wrap
    ">
        <div class="d-flex flex-column align-items-center lh-1">
            <span class="fs-4 text-commom">110 veiculos</span>
            <span class="adset-blue">Total</span>
        </div>
        <div class="text-commom fs-1 fw-light">/</div>
        <div class="d-flex flex-column align-items-center lh-1">
            <span class="fs-4 text-commom">080 veiculos</span>
            <span class="adset-green">com fotos</span>
        </div>
        <div class="text-commom fs-1 fw-light">/</div>
        <div class="d-flex flex-column align-items-center lh-1">
            <span class="fs-4 text-commom">030 veiculos</span>
            <span class="adset-red">sem fotos</span>
        </div>

        <div class="export">
            <span class="fs-4"> Exportar Estoque</span>
            <div class="d-flex align-items-center gap-1">
                <img src="assets/images/excel.png" alt="Exportar" class="img-fluid">
                <i class="download fa-solid fa-circle-down"></i>
            </div>
        </div>
        <div class="add-car d-flex p-4">
            <i class="fa fa-car fs-2"></i>
            <i class="plus-icon fa fa-plus fs-5 mt-n4"></i>
        </div>
        <div class="col-md-4 col-xl-4 col-sm-6 d-flex justify-content-end align-items-center pointer">
            <div class="save-car">
                <img src="assets/images/iexportacion.png" class="img-fluid save-car-icon">
                <span>Salvar</span>
            </div>
        </div>
    </div>
</div>